language: python

python:
  - '2.6'
  - '2.7'

env:
    global:
        - PYTHONPATH=$PYTHONPATH:/usr/lib/pymodules/python2.7/:/usr/lib/python2.7/dist-packages:/usr/lib/pyshared/python2.7/:/usr/local/lib/python2.7/site-packages/
        
before_install:
    # update aptitude
    - sudo apt-get update -y

    # install aptitude packages (pyvows requirements)
    - LDFLAGS=-lm sudo apt-get install -y libevent-dev libxml2-dev libcurl4-gnutls-dev python-pycurl-dbg

install:
    # install python requirements (package)
    - pip install docopt pygments --use-mirrors
    
    # install python requirements (testing)
    - pip install pyvows
    - pip install coverage coveralls

    # verify requirements were met
    #- INSTALLDIR=$(python -c "import os; import gevent; print(os.path.dirname(gevent.__file__))")


script:
    # finally run tests
    - env PYTHONPATH=. coverage run --source=bibtexml2 python -m pyvows ./tests


after_success:
    - coveralls
